tr.ready-to-ship.taco-expedited { background-color: #e7b293 !important; }
tr.ready-to-ship.taco-intl { background-color: #a6d608 !important; }
tr.ready-to-ship.taco-bmwt { background-color: #e0dd81 !important; }
tr.ready-to-ship.taco-bmwt td { font-weight: bold; }
tr.taco-pickup { background-color: #dbb4db !important; }
tr.taco-presale { background-color: #ffbf00 !important; }